@use '@carbon/react';
@use '@carbon/grid';


.main-content {
  padding: 3rem 2rem 2rem 2rem; /* Clear top header room */
  margin-top: 0;
  min-height: calc(100vh - 3rem);
  width: 100%;
  box-sizing: border-box;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'IBM Plex Sans', sans-serif;
}


.form-container {
  background: white;
  padding: 2rem;
  margin-top: 1.5rem;
}

.field-spacing {
  margin-bottom: 1.5rem;
}